.clear {
  height: 4em;
  color: Red;
  display: flex;
  outline: 1px solid black;
  background-color: Yellow;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  flex: 1;
  font-size: 1.5em;
  border-radius: 8px;
}
